NODE_ENV=development

PORT=3000

API_PREFIX=api/v1

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=abdihaikal
POSTGRES_PASSWORD=abdihaikal
POSTGRES_DB=email_app

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=abdihaikal

EMAIL_SERVICE_BASE_URL=https://email-service.digitalenvision.com.au
EMAIL_SERVICE_ENDPOINT=/send-email
EMAIL_SERVICE_TIMEOUT_MS=30000
EMAIL_SERVICE_MAX_RETRIES=3
EMAIL_SERVICE_RETRY_DELAY_MS=1000

BULLMQ_ATTEMPTS_DEFAULT=3
BULLMQ_BACKOFF_DELAY_MS=3000

RECOVERY_LOOKBACK_DAYS=2

BIRTHDAY_MESSAGE_TO_SEND_AT=9
ANNIVERSARY_MESSAGE_TO_SEND_AT=9
